*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(201, 7, 7);
}
.Rel贸gio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 250,200, .5);
}

.Rel贸gio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: rgb(3, 3, 2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7 ); 
    border-radius: 7px;
    letter-spacing:  2px;
}
.Rel贸gio span{
    font-weight: bolder;
    font-size: 24px;
}
.Rel贸gio span .Tempo{
    font-size: 10px;
}